/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: "Geist";
  src: url("../node_modules/geist/dist/fonts/geist-sans/Geist-Regular.woff2");
}

body {
  font-family: "Geist";
}
